<header class="header">
  <cabecalho></cabecalho>
  <modalajuda></modalajuda>
  <menucomponent [breadCrumb]="" [tituloFuncionalidadeAtual]="'Consultar Templates'"></menucomponent>
  <linkincluir [titulo]="'Incluir Template'" [caminho]="['/pages', 'template-edicao', {acao: 'INCLUSAO'}]"></linkincluir>
</header>
<article>
<div class="container">
  <loader></loader>
  <!-- Corpo da página -->
  <!-- Filtros de pesquisa -->
  <p-messages [closable]="false"></p-messages>
  <form novalidate>
    <fieldset>
      <h2 (click)="isCollapsed = !isCollapsed" href="#filtros" aria-expanded="true" aria-controls="filtros">
        <i class="material-icons">expand_more</i>
        Filtros de pesquisa
      </h2>
      <div id="filtros" [collapse]="isCollapsed" class="collapse in" aria-expanded="false" aria-controls="filtros">
        <div class="row">
          <div class="col-md-9">
            <div class="form-group">
              <label for="filtro.nome" class="control-label">Nome do Template</label>
              <input id="filtro.nome" name="filtro.nome" type="text" [(ngModel)]="filtro.nome" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="situacao" class="control-label">Situação</label>
              <p-dropdown id="situacao" name="situacao" [options]="situacaoList" [(ngModel)]="filtro.situacao"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button (click)="onClickLimpar()" class="btn btn-default" type="reset">Limpar</button>
          <button (click)="onClickBuscar()" class="btn btn-primary" type="button">Buscar</button>
        </div>
      </div>
    </fieldset>
  </form>
  <div class="paginador">
    <p class="form-group label-paginador" style="display: inline;">Resultados Por Página:</p>
    <a *ngFor="let option of itensPorPagina" style="display: inline;" (click)="setRows(option.rows)" class="link">
      {{option.rows}}
    </a>
  </div>
  <div class="pesquisa-paginador-top">
    <p class="form-group label-paginador" style="display: inline;">Ir para a página: </p>
    <input #pageTop type="text" class="input-pesquisar-pagina-top form-control" (keyup.enter)="setPage(pageTop.value)" />
  </div>
  <!-- Tabela customizada -->
  <p-dataTable #dataTable [value]="result.itensPagina" [paginatorPosition]="'both'" [responsive]="true" [pageLinks]="5"
    [lazy]="true" [rows]="10" [paginator]="true" [style]="{'width':'100%'}" (onFilter)="setFilter($event)" (onSort)="setSortOrder($event)" (onPage)="loadData($event)"
    [totalRecords]="result.paginador.numeroTotalItens" [loading]="loading" [responsive]="true">
    <ng-template pTemplate="emptymessage">
      Nenhum registro encontrado para a consulta.
    </ng-template> 
    <p-header>
      <table class="table table-striped tabela" style="width:100%">
        <caption style="width:100%">CONSULTAR TEMPLATE</caption>
        <thead>
          <tr class="tabela-acoes">
            <td colspan="6">
              <div class="row">
                <div class="col-md-6" style="text-align: left;">&nbsp;</div>
                <div class="col-md-6 text-right hidden-xs"></div>
              </div>
            </td>
          </tr>
        </thead>
      </table>
    </p-header>
    <p-column header="Ações" [style]="{'width':'60px','text-align':'center'}">
      <ng-template let-item="rowData" pTemplate="body">
          <ng-template #popTemplate>
            <div class='btn-group-vertical' role='group'>
              <button type="button" class="btn btn-default"
                [routerLink]="['/pages', 'template-edicao', {id: item.id, acao: 'DETALHES'}]">Detalhes</button>
              <button type='button' class='btn btn-default'
                [routerLink]="['/pages', 'template-edicao', {id: item.id, acao: 'ALTERACAO'}]">Alterar</button>
              <button type='button' class='btn btn-default' (click)='onClickDelete(item)'>Excluir</button>
            </div>
          </ng-template>
          <button type="button" class="btn btn-link" [outsideClick]="popTemplate" [popover]="popTemplate" placement="right">
            <i class="material-icons icon-24">menu</i>
          </button>
      </ng-template>
    </p-column>
    <p-column field="nome" header="Nome do Template" [filter]="true" [sortable]="true"></p-column>
    <p-column field="situacao" header="Situação" [filter]="true" [sortable]="true" [style]="{'width':'120px','text-align':'center'}">
      <ng-template let-col let-item="rowData" pTemplate="body">
        <span>{{getSituacaoTemplateDescricao(item['situacao'])}}</span>
      </ng-template>
    </p-column>
    <p-footer>
      Total de Registros: {{result.paginador.numeroTotalItens}}    </p-footer>
  </p-dataTable>
  <div class="paginador-bottom">
    <p class="form-group label-paginador" style="display: inline;">Resultados Por Página:</p>
    <a *ngFor="let option of itensPorPagina" style="display: inline;" (click)="setRows(option.rows)" class="link">
      {{option.rows}}
    </a>
  </div>
  <div class="pesquisa-paginador-bottom">
    <p class="form-group label-paginador" style="display: inline;">Ir para a página: </p>
    <input #page type="text" class="input-pesquisar-pagina form-control" (keyup.enter)="setPage(page.value)" />
  </div>
  <p-confirmDialog class="botao-confirma" acceptLabel="Sim" rejectLabel="Não" header="Confirmação" icon="pi pi-exclamation-triangle" width="500"></p-confirmDialog>
  <br/>
</div>
</article>
