<header class="header">
  <cabecalho></cabecalho>
  <modalajuda></modalajuda>
  <menucomponent [breadCrumb]="" [tituloFuncionalidadeAtual]="'Início'"></menucomponent>
</header>
<article>
<div class="container">
  <!-- Corpo da página -->
  <!-- Filtros de pesquisa -->
  
  <form>
    <!-- Painel menu expandido -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Menu expandido</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <h2>Ferramentas</h2>
            <ul>
              <li>Início</li>
              <li>Contagem</li>
              <li>Importação</li>
              <li>Template</li>
              <li>Relatório</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</article>